@import "compass/css3";

$colorPri: #bbbbbb;
$colorSec: #79cd38;
$btnSize: 100px;

.center_abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.btn {
  width: $btnSize;
  height: $btnSize;
  border-radius: 50%;
  background: $colorPri;
  @extend .center_abs;
  overflow: hidden;
  transform: translate3d(0), rotate(0deg);
  transition: transform 350ms ease-out, background 350ms ease-out;
}
.btn__link {
  display: block;
  height: 100%;
}
.btn__sq {
  width: 50px;
  height: 32px;
  background: #ffffff;
  @extend .center_abs;
  top: 10px;
  transform: translate3d(0);
  transition: width 350ms ease-out, top 350ms ease-out;
  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 100%;
  }
  &:before {
    left: 0;
    border-style: solid;
    border-width: 0 25px 16px 25px;
    border-color: transparent transparent #fff transparent;
    transform: translate3d(0);
    transition: left 350ms ease-out, border-width 350ms ease-out;
  }
  &:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: $colorPri;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transition: opacity 350ms ease-out;
  }
}

.btn:hover {
  transform: rotate(-90deg);
  background: $colorSec;
  .btn__sq {
    width: 18px;
    top: 16px;
    &:before {
      left: -16px;
      border-width: 0 25px 20px 25px;
    }
    &:after {
      opacity: 0;
    }
  }
}
